.group-selector-container {
  grid-area: group;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  background-color: yellowgreen;
}

.group-selector {
  display: flex;
  justify-content: space-between;
}

.group-button {
  padding: 1rem;
  color: #505050;
  cursor: default;
  text-align: center;
}

.group-button-selected {
  color: #ececec;
  background-color: olivedrab;
}

.group-popover-paper {
  width: calc(100% - 5rem);
  height: calc(100% - 9rem);
}

@media (min-width: 720px) {
  .group-popover-paper {
    width: calc(100% - 20rem);
  }
}

@media (min-width: 830px) {
  .group-popover-paper {
    width: 29rem;
  }
}
