.country-item {
  background-color: #ececec;
  height: auto;
  border: 1px solid #dcdcdc;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
  cursor: default;
}

.country-flag {
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.country-item-title {
  display: flex;
}

.country-item-name {
  padding-left: 1rem;
  line-height: 3rem;
}

.country-language {
  padding-right: 1rem;
  line-height: 3rem;
}

.border-country {
  font-size: 0.75rem;
  padding-left: 2rem;
  text-indent: -1rem;
}
