.App {
  background-color: white;
  max-width: 960px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    'header'
    'nav'
    'group'
    'main';
}

@media (min-width: 720px) {
  .App {
    margin: 1rem;
    grid-template-columns: 13em 1fr;
    grid-template-rows: min-content max-content;
    grid-template-areas:
      'header  header'
      'nav     group'
      'nav     main';
  }
}

@media (min-width: 830px) {
  body {
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  .App {
    margin: 1rem auto;
  }
}
