.mode-container {
  grid-area: nav;
}

.selected-mode {
  color: #ececec;
  background-color: olivedrab;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.mode-item {
  padding-left: 1rem;
  cursor: pointer;
}

.mode-selected {
  color: #ececec;
  background-color: olivedrab;
}

.mode-popover-paper {
  width: 100%;
}

.mode-popover-paper > .popover-content > .modes > .mode-item {
  height: auto;
  padding: 1rem;
  color: #505050;
}

.modes-container > .modes > .mode-item {
  padding: 1rem;
  padding-right: 0;
}

@media (max-width: 719px) {
  .modes-container {
    display: none;
  }
}

@media (min-width: 720px) {
  .selected-mode {
    display: none;
  }
}
