html,
body,
#root {
  height: 100%;
  overflow-y: hidden;
  background-color: darkolivegreen;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(80, 80, 80);
  font-family: 'Montserrat';
  font-size: 1 rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 31.2px;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  vertical-align: baseline;
}
